<div class="uk-flex-center uk-child-width-1-5@m uk-padding" uk-grid>
  <div *ngFor="let ListaSaldo of ListaSaldos | slice: 0:5">
    <div class="uk-card uk-card-small uk-card-default uk-card-body">
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        <img src="{{ URL_IMG + '/Dados/imgEmpresa/' + ListaSaldo.logo }} " />
        <div
          class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default"
        >
          <h4 class="uk-card-title uk-text-truncate ">
            {{ ListaSaldo.nomeFantasia }}
          </h4>
        </div>
      </div>
      <p class=" uk-text-right  uk-h4 uk-margin">
        <span class="uk-text-success">
          {{ ListaSaldo.saldo + " pontos " }}
        </span>
      </p>
    </div>
  </div>
</div>
