<div class="uk-flex-center FundoLogin uk-overflow-auto "uk-grid >
  <div class="uk-width-1-2@m ">
    <div class="uk-text-center uk-margin-top uk-margin-small uk-light">
      <a class=" uk-text-large uk-active uk-link-heading " style="font-family:Cocon">pontua <a
          style="font-family:Lucida Handwriting"> Aê</a>
      </a>
    </div>
    <!--app-carregar ></app-carregar>-->
    <!-- [formGroup]= *ngIf="!carregando">-->
    <div class="uk-card uk-card-default  uk-card-body uk-box-shadow-small uk-border-rounded " >
    

      
  

    </div>

  </div>
</div>
