<div class="uk-container uk-margin-top">
  <div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
      <div class="uk-card uk-card-default ">
        <div class="uk-card-header">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto">
                <i class=" Medium material-icons" style="font-size: 30px; padding: -20px; margin: -5px; color: #7b098a">sentiment_very_satisfied</i>
            </div>
            <div class="uk-width-expand">
           
              <a routerLink="/preCadastro" class=" uk-button uk-button-text">Avaliações</a>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default ">
        <div class="uk-card-header">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto">
                <i class=" Medium material-icons" style="font-size: 30px; padding: -20px; margin: -5px; color:#7b098a">stars</i>
            </div>
            <div class="uk-width-expand " >
                <a routerLink="/point" class="uk-button uk-button-text">Bonificar</a>
              
            </div>
          </div>
        </div>
       
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default ">
        <div class="uk-card-header">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto">
               
               <a><i class="fa fa-rocket fa-3x" aria-hidden="true"  style="font-size: 30px; color: #7b098a"></i></a>
       
            </div>
            <div class="uk-width-expand">
                <a routerLink="" class=" uk-button uk-button-text">Automações</a>
              
            </div>
          </div>
        </div>     
      </div>
    </div>

    <div>
      <div class="uk-card uk-card-default ">
        <div class="uk-card-header">
          <div class="uk-grid-small " uk-grid>
            <div class="uk-width-auto">              
               <a routerLink="/config/listPoint"><i class=" large material-icons" style="font-size: 30px; padding: -20px; margin: -5px; color: #7b098a">loyalty</i></a> 
            </div>
            <div class="uk-width-expand">
              <a routerLink="/config/listPoint" class=" uk-button uk-button-text">Fidelidade</a>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>
