

<form [formGroup]="form">
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="R$ Informe Valor gasto para virar pontos">
    </div>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Equivalem a quantos pontos">
    </div>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="Validades dos Pontos/Dia">
    </div>
    <button class="uk-button uk-button-primary">Cadastrar</button>
    <button class="uk-button uk-button-default" [mat-dialog-close]>Fechar</button>
</form>