<div class="uk-flex-center FundoLogin uk-height-1-1  " uk-grid>
  <div class="uk-width-1-2@s ">
    <div class="uk-text-center uk-margin-large-top uk-margin-medium-bottom uk-light ">
      <a class=" uk-text-large uk-active uk-link-heading " style="font-family:Cocon">pontua <a style="font-family:Lucida Handwriting"> Aê</a>
    </a>
  </div>
    <!--<app-carregar></app-carregar>-->
    <form [formGroup]="form" *ngIf="!carregando">
      <div class="uk-card uk-card-default  uk-card-body  uk-border-rounded">
        <a><span uk-icon="icon:arrow-left" class=""></span> Voltar</a>
        <h3 class="uk-card-title uk-position-top-center">Finalalizar Cadastro</h3>
        
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="NomeFantasia" 
          [ngClass]="{'uk-form-danger': (!form.controls.NomeFantasia.valid && !form.controls.NomeFantasia.pristine) }"
          placeholder="NomeFantasia">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Descricao" 
          [ngClass]="{'uk-form-danger': (!form.controls.Descricao.valid && !form.controls.Descricao.pristine) }"
          placeholder="Descricao">
        </div>
        <div class="uk-margin">
          <input class="uk-input " type="text" formControlName="NomeResponsavel"
          [ngClass]="{'uk-form-danger': (!form.controls.NomeResponsavel.valid && !form.controls.NomeResponsavel.pristine) }"
            placeholder="Nome Responsavel">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" type="text" formControlName="Email"
            [ngClass]="{'uk-form-danger': (!form.controls.Email.valid && !form.controls.Email.pristine) }"
            placeholder="Email">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Telefone" 
          [ngClass]="{'uk-form-danger': (!form.controls.Telefone.valid && !form.controls.Telefone.pristine) }" placeholder="Telefone">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Documento" 
          [ngClass]="{'uk-form-danger': (!form.controls.Documento.valid && !form.controls.Documento.pristine) }" placeholder="Cnpj">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Seguimento" 
          [ngClass]="{'uk-form-danger': (!form.controls.Seguimento.valid && !form.controls.Seguimento.pristine) }"
          placeholder="Seguimentos">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Horario"
          [ngClass]="{'uk-form-danger': (!form.controls.Horario.valid && !form.controls.Horario.pristine) }"
            placeholder="Horario de Atendimento">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Facebook"
          [ngClass]="{'uk-form-danger': (!form.controls.Facebook.valid && !form.controls.Facebook.pristine) }" placeholder="Link do Facebook">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Instagram" placeholder="Link do Instagram">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="WebSite" placeholder="Link do Website">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Delivery" placeholder="Link da Delivery">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Bairro" placeholder="Bairro">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Rua" placeholder="Rua">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Numero" placeholder="Numero do endereço">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Cep" placeholder="Cep">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Cidade" placeholder="Cidade">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Estado" placeholder="Estado">
        </div>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" type="text" formControlName="Complemento" placeholder="Complemento">
        </div>
        <div class="js-upload uk-align-center" uk-form-custom>
          <ul class="uk-thumbnav" uk-margin>
            <li class="uk-active"><a href="#"><img class="uk-border-circle" src="https://placehold.it/70" width="100"
                  alt=""></a></li>

          </ul>
          <input type="file" multiple (change)="uploadImagem($event)"> 
          <button class="uk-button uk-button-primary uk-border-rounded uk-button-small" type="button"
            tabindex="-1">Alterar imagem</button>
        </div>


        <div class="uk-margin uk-text-right">
          <a class="uk-width-1-1@m uk-button-large uk-button  uk-border-rounded BotaoSucesso" (click)="submit()">Salvar</a>
        </div>
      </div>
    </form>
  </div>
</div>
