<div class="uk-container">

  <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-margin-top">
    <h5 class="uk-card-title" style="margin-top: -10px;"> <a uk-icon="icon:chevron-double-left; ratio:2"></a> Programa de fidelidade</h5>
    <ul  uk-tab="swiping: false"  class="uk-tab">
      <li class="uk-active"><a routerLink="/config/listPoint" >Cartão fidelidade</a></li>
      
      <li><a routerLink="/config/listAward" >prêmios</a></li>

      
    </ul>

    <router-outlet></router-outlet>

     </div>
</div>