<div class="uk-container">

        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-margin-top">
          <h5 class="uk-card-title" style="margin-top: -10px;"> <a uk-icon="icon:chevron-double-left; ratio:1.9"></a> Clientes</h5>
          <div class="uk-text-right">
                <!--<h4 style="text-align:left">campanha!</h4>-->
                <button class="uk-button uk-button-default uk-border-rounded" (click)="openDialogCreate()">
                  <i uk-icon="icon:more; ratio: 1.1"></i>Dados</button>
                  
              </div>
              <table class="uk-table uk-table-hover uk-table-divider">
                <thead>
                  <tr>
              
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    <th>Visitas</th>
                    <th>Resgate</th>
                    <th>Saldo</th>                    
                    <th> </th>
                  </tr>
                </thead>
                <tbody>
                   
                  <tr *ngFor="let colum of ListClient$ | async">
                    <td>{{colum.nome}}</td>
                    <td>{{colum.telefone}}</td>
                    <td>{{colum.status}}</td>
                    <td>{{colum.visitas}}</td>
                    <td>{{colum.resgate}}</td>
                    <td>{{colum.Saldo}}</td>
                   
                  </tr>
                </tbody>
              </table>
           </div>
      </div>