#menuColor {
  text-align: center;
  background: #9a06ad;
  background: -moz-linear-gradient(60deg, #bd076b 0%, #800691 100%);
  background: -webkit-linear-gradient(60deg, #bd076b 0%, #800691 100%);
  background: linear-gradient(60deg, #bd076b 0%, #800691 100%);
}
.autoHeight {
  height: 100vh;
}
.FundoLogin {
  background: linear-gradient(60deg, #d6085e 25%, #800691 100%);
}
.BotaoSucesso {
  background-color: #3fa845;
  color: white;
}
#red {
  color: #ec2300;
}
#upload {
  font-weight: bold;
  color: #28a745;
  margin-left: 15px;
  line-height: 36px;
}
.embacado::after {
  filter: blur(2px);
}

.quebraLinha {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}



@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.jumbotron{
    padding-top: 0px;
    background: #fff;
}

.form-control,.input-group-text{
    border:1px solid #0080ff;
}

table.table-hover tbody tr:hover{
cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
