
<form >
  <fieldset class="uk-fieldset ">
    <div uk-grid>
    <div class=" uk-margin-small uk-width-1-1@m">
      <input class="uk-input" type="text" placeholder="Nome do prêmio">
    </div>
    <div class="uk-width-1-1@m uk-margin-small">
      <input class="uk-input" type="text" placeholder="Descrição prêmio">
    </div>

    <div class="uk-width-1-2@m uk-margin-small">
      <input class="uk-input " type="text" placeholder="Quantidade de pontos para prêmio">
    </div>

    <div  class="uk-width-1-2@m uk-margin-small">
      <input class="uk-input " type="text" placeholder="Quatidede de prêmios disponíveis">
    </div>
  </div>
  </fieldset>
  
  <div class="uk-margin-small">
    <button class="uk-button uk-button-primary">Salvar</button>
  </div>
</form>

<table class="uk-table uk-table-hover uk-table-divider">
  <thead>
    <tr>
      <th>Premio</th>
      <th>Descrição</th>
      <th>Pontos</th>
      <th>Quantidade</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table Premio</td>
      <td>Table Descrição</td>
      <td>Table Pontos</td>
      <td>Table Quantidade</td>
      <td><a uk-icon="icon:trash"></a></td>
    </tr>

  </tbody>
</table>
